[submodule "lab_experiment_module"]
	path = lab_experiment_module
	url = https://github.com/anubhav-gres/lab_experiment_module.git
[submodule "src/external/fd"]
	path = src/external/fd
	url = https://github.com/anubhav-gres/fd_translate.git
[submodule "src/external/libff"]
	path = src/external/libff
	url = https://github.com/anubhav-gres/libff_parser.git
[submodule "src/external/VAL-4.2.08"]
	path = src/external/VAL-4.2.08
	url = https://github.com/anubhav-gres/VAL-4.2.08.git
